nodejs_version: "8.x"
deploy_user: colin
deploy_dir: "/home/colin/led-drawing-prototype"
force_build: false
user_default_groups: "debian,adm,kmem,dialout,cdrom,floppy,audio,dip,video,plugdev,users,systemd-journal,i2c,bluetooth,netdev,cloud9ide,xenomai,weston-launch,tisdk,spi,admin,eqep,pwm,gpio"
beaglebone: true
beaglebone_wifi_ssid: "owabb"
beaglebone_wifi_password: "3t^jWQQ^SZ7^"
fadecandy_config:
    listen: ["0.0.0.0", 7890]
    verbose: true
    color:
        gamma: 2.5
        whitepoint: [1.0, 1.0, 1.0]
    devices:
      -
        type: fadecandy
        map: [
          # [ OPC Channel, First OPC Pixel, First output pixel, Pixel count  ]
         [ 0, 0, 0, 8 ],
         [ 0, 8, 64, 8 ],
         [ 0, 16, 8, 8 ],
         [ 0, 24, 72, 8 ],
         [ 0, 32, 16, 8 ],
         [ 0, 40, 80, 8 ],
         [ 0, 48, 24, 8 ],
         [ 0, 56, 88, 8 ],
         [ 0, 64, 32, 8 ],
         [ 0, 72, 96, 8 ],
         [ 0, 80, 40, 8 ],
         [ 0, 88, 104, 8 ],
         [ 0, 96, 48, 8 ],
         [ 0, 104, 112, 8 ],
         [ 0, 112, 56, 8 ],
         [ 0, 120, 120, 8 ],
          # [ OPC Channel, First OPC Pixel, First output pixel, Pixel count, Color channels  ]
#         [ 0, 50, 64, 12, 'grb' ]
        ]


